/* margin all = 0*/
* {
    margin: 0;
}

/* underline = none */
nav a{
    text-decoration: none;
}

/* title hangdong dsi color = black */
nav h1{
    color: #000;
    margin: 0.5rem;
}

/* bar fill color */
nav{
    background-color: #FF5959;
}

/* nav container */
.nav-con {
    background-color: FF5959;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    align-items: center;
}

/* stly of menu */
ul.menu{
    display: flex;
    list-style: none;
}

.container-view{
    text-align: center;
}

.view-con{
    margin-top: 1rem;
    display: flex;
    text-align: right;
}

.view{
    display: flex;
    list-style: none;
}

.view li{
    margin-right: .3rem;
    margin-left: .3rem;
}

/* margin menu */
ul.menu li {
    margin: 0.3rem;
}

/* text menu color, size, underline */
ul.menu li a {
    font-size: 100%;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* background image */
header{
    overflow: hidden;
    min-height: 400px;
    max-height: 600px;
    background: url(/image/background/1.1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    opacity: 100%;
}

/* text on background */
.header-section{
    min-width:  300px;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #fff;
    
}

/* title of member */
main > h1{
    text-align: center;
    font-size: x-large;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

/* pictures main council */
.pictures {
    align-content: center;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem; 
}

/* image size main council */
.pictures > figure > img{
    min-width: 50px;
    max-width:  200px;
    min-height: 100px;
    max-height: 350px;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

/* text name margin and center */
figcaption{
    margin-top: 0.5rem;
    text-align: center;
}

/* container */
.container{
    max-width: 690px;
    margin: 0 auto;
}

/* image size sub member council */
.pictures2{
    text-align: center;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

/* image size sub member council */
.pictures2 figure img{
    min-width: 50px;
    max-width:  150px;
    min-height: 100px;
    max-height: 200px;
    align-content: center;
}

/* text name color and size font */
.pictures2 p{
    font-size: 15px;
    color: rgb(0, 0, 0);
}

/* image container */
.image-container{
    text-align: center;
}

/* image boder and shadow */
img{
    border: 5px solid #fff;
    box-shadow: 5px 5px rgb(90, 90, 90);
}

/* footer */
footer{
    background-color: rgb(51, 51, 51);
    padding-top: 2rem;
    padding-bottom: .5rem;
    /* margin-top: 2rem; */
    text-align: center;
    color: #fff;
}

/* background color */
body{
    background-color: rgb(172, 172, 172);
}
